.tab_corner {
  width:1px;
}

.tab {
  min-width: 96px;
  max-width: 248px;
  -moz-box-flex: 1;
  border-top: 1px solid #666;
  border-left: 1px solid #000;
  border-right: 1px solid #666;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: -moz-box;
  -moz-box-orient: horizontal;
}

.tab_new_box {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  -moz-box-flex: 0;
}

.tab_new_button {
  width: 18px;
  height: 20px;
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-image: url(../img/themes/default/browser/tabbrowser/newtab.png);
  background-position: 0 0;
}

.tab_active {
  background-image: url(../img/tab_gradient.png);
  background-repeat: repeat-x;
}

.tab_icon {
  -moz-box-flex: 0;
  width: 24px;
  height: 24px;  
}

.tab_icon > div {
  height: 16px;
  width: 16px;
  margin-left: 3px;
  margin-top: 3px;
  background-image: url(../img/blank_favico.png);
}

.tab_text {
  height: 24px;
  -moz-box-flex: 1;
}

.tab_text > div {
  font-family: Lucida Grande;
  font-weight: bold;
  font-size: 11;
  margin-top: 5px;
}  

.tab_close {
  -moz-box-flex: 0;
  height: 24px;
  width: 24px;
}

.tab_close > div {
  height: 12px;
  width: 12px;
  background-image: url(../img/close_tab.png);
  margin-left: 6px;
  margin-top: 6px;
}
